@{
    ViewBag.Title = "Web Restaurantes";
}
<div class="jumbotron text-center ">
    <img src="~/Content/restaurantes.png" class="img-responsive tocenter" style="margin:0 auto; display:inline max-width: 270px" />
    <h3>Sistema de Cadastro de Restaurantes</h3>
</div>
