@{
    ViewBag.Title = "Web Restaurantes";
}
<div class="jumbotron text-center">
    <h3><b>Sistema de Cadastro de Restaurantes</b></h3>
    <img src="~/Content/restaurantes.png" class="img-responsive tocenter" style="margin:0 auto; display:inline max-width: 270px" />
</div>
