<h3>Cadastro de Pratos</h3>
<hr />
<div ng-controller="PratoController" ng-init="pesquisar()">
    <div class="table-responsive">
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" ng-model="prato.Nome" placeholder="Pesquisar Prato">
            </div>
            <button type="button" class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '/Pratos/Create/';">Cadastrar novo prato</button>
        <div>
    </div>
    <hr />
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ativo</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in pratos">
                    <td>{{item.ID}}</td>
                    <td>{{item.Nome}}</td>
                    <td>{{item.Preco | currency}}</td>
                    <td>
                        <span class="label" ng-class="{true:'label-success', false:'label-danger', '':'hidden'}[item.Ativo]">
                            {{ item.Ativo ? 'Ativo' : 'Inativo' }}
                        </span>
                    </td>
                    <td>
                        <button ng-click="EditarPrato(item)"><i class="glyphicon glyphicon-pencil"></i></button>
                    </td>
                    <td>
                        <button ng-really-message="Excluir o registro?" ng-really-click="DeletaPrato(item)"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
